* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.header__container {
  display: flex;
  justify-content: space-around;
}
.header__container--title {
  width: 800px;
  height: 80px;
  background-image: linear-gradient(
    to bottom,
    #444444,
    #4a4a4a,
    #515050,
    #575656,
    #5d5d5c
  );
}
.header--title {
  font-size: 3rem;
  text-align: center;
  line-height: 80px;
}
.header__logo--rigth {
  width: 100px;
  height: 80px;
  display: inline-block;
  right: 50px;
}
.header__logo--left {
  width: 100px;
  height: 80px;
  display: inline-block;
  left: 50px;
}

.header__container--subtitle {
  width: 100%;
  height: 40px;
  margin-bottom: 6px;
  background-image: linear-gradient(
    to right,
    #da0037,
    #c70537,
    #b40b35,
    #a10f34,
    #8e1231
  );
}
.header--subtitle {
  font-size: 1.8rem;
  text-align: center;
  line-height: 40px;
}
.main--container {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 3px;
  border-radius: 11px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 8px 8px 16px #e6e6e6, -8px 10px 16px #ffffff;
}
.main--container div {
  margin: 5px 0 35px 0;
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 13px 13px 26px #e0e0e0, -10px 10px 26px #ffffff;
  transition: transform 0.5s;
}
.main__container--seneca:hover {
  transform: scale(1.1);
}
.main__container--seneca:hover p {
  color: black;
}
.main__container--aurelio:hover {
  transform: scale(1.1);
}
.main__container--aurelio:hover p {
  color: black;
}
.main__container--greene:hover {
  transform: scale(1.1);
}
.main__container--greene:hover p {
  color: black;
}
.main__container--nicholas:hover {
  transform: scale(1.1);
}
.main__container--nicholas:hover p {
  color: black;
}
h2 {
  font-size: 2rem;
  padding-left: 20px;
  font-weight: bold;
}
.main--container p {
  font-size: 1.4rem;
  color: #444444;
  padding: 5px;
  transition: color 0.5s;
}
.main--container p:hover {
  color: #da0037;
}

footer {
  width: 100%;
  height: 50px;
  background: #171717;
}
h3 {
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
  color: #ededed;
}
